mixin content()
    section.content.active 
        .container
            .content-container
                ul.path 
                    li 
                        a(href="#") dsadas
                    li 
                        a(href="#") dsadas
                    li 
                        a(href="#") dsadas
                h2.content-title Телевизор Artel TV 32AH90G Smart TV 32"
                .content-left
                    .content-slider
                        .swiper.mySwiper2
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="https://ichef.bbci.co.uk/news/999/cpsprodpb/15951/production/_117310488_16.jpg")
                                .swiper-slide
                                    img(src="https://www.planetware.com/wpimages/2019/11/canada-in-pictures-beautiful-places-to-photograph-morraine-lake.jpg")
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper(thumbsSlider="")
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="https://ichef.bbci.co.uk/news/999/cpsprodpb/15951/production/_117310488_16.jpg")
                                .swiper-slide
                                    img(src="https://www.planetware.com/wpimages/2019/11/canada-in-pictures-beautiful-places-to-photograph-morraine-lake.jpg")
                .content-right
