mixin menu()
    .menu 
        .menu__btn 
            .exit
        .menu__list
            ul 
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки
                li 
                    a(href="#") Ноутбуки