mixin news()
    section.news
        .container
            .news-container
                h1.news__title 
                    span News
                    .line
                .news__content 
                    .swiper.mySwiper
                        .swiper-wrapper
                            a(href="#").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="#").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="#").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="#").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="#").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                            a(href="#").swiper-slide 
                                .item 
                                    img(src="./img/news.webp" alt="news img")
                                    h3 Lorem, ipsum dolor perspiciatis! skldklsldk
                        .swiper-button-next
                        .swiper-button-prev
